<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png"/>
        <link rel="stylesheet" href="./css/styles.css"/>

    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>
                This site as created by Michael W. Cho. It uses data from mapbox.com and darksky.net.
            </p>
            <img src="./images/bday.jpg" class="portrait"/>

        </div>
        
        {{>footer}}
    </body>
</html>